fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
pypdf
qdrant-client
scikit-learn
numpy
python-dotenv
rank-bm25

# LangChain
langchain-core
langchain-text-splitters
langchain-community
langchain-classic
langchain-qdrant
langchain-experimental
langchain-groq
qdrant-client
langchain-huggingface
sentence-transformers